.panel {
  display: flex;
  background-color: var(--main-text-color);
  height: 50px;
}

.pageTools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   padding: 0 20px;
  height: 100%;

  &__list {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--white-text);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.authList {
  gap: 26px;
}
